.App {
  height: 100vh; 
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 text-align: center;

}

.left {
 width: 50%;
}

.right {
 width: 50%;
 background-color: white;
 display: flex;
   align-items: center;
   justify-content: center;
}


@media only screen and (max-width: 800px) {
 .right,.left {
    width: 110%; 
   
 }
 .App{
   display: block;
 }
}